.App {
  margin: 15px auto;
  padding: 20px 10px;
  border: 1px solid #006400;
  max-width: 600px;
  border-radius: 4px;
  color: #f8f8c9;
  background-image: url(https://github.com/AnnaPCH/my-weather-app/blob/main/watcol1.png?raw=true);
}
.footer {
  text-align: center;
}
