.App {
  margin: 15px auto;
  margin-bottom: 0;
  padding: 20px 10px;
  max-width: 600px;
  border-radius: 4px;
  color: #f8f8c9;
  background-image: url(watcol1.png);
}

.footer {
  text-align: left;
  max-width: 600px;
  margin: 0px auto;
  font-size: 12px;
}

.Units a {
  color: #f8f8c9;
  text-decoration: none;
}
