.Weather h1 {
  font-weight: lighter;
  display: inline;
}

.Weather .links a {
  display: inline;
  color: #f8f8c9;
  font-size: x-small;
  text-decoration: none;
}

.Weather img {
  display: inline;
}

.Weather .description {
  display: block;
}
