.Weather h1 {
  font-weight: lighter;
  display: inline;
  font-size: 64px;
  margin-left: 10px;
  margin-top: 0;
}

.Weather .links {
  position: relative;
  top: -34px;
  left: -10px;
  font-size: 22px;
}

.Weather .links a {
  color: #f8f8c9;
  text-decoration: none;
}

.Weather .description {
  margin: 10px;
}

.Weather canvas {
  margin: 15px;
}
